<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Home page</h1>

<button sec:authorize="!isAuthenticated()">
    <a href="/login">Dang nhap</a>
</button>

<th:block sec:authorize="isAuthenticated()">
    <form method="post" th:action="@{/logout}">
        <button type="submit">Dang xuat</button>
    </form>

    <h2>Xin chao: <th:block sec:authentication="name">Nguyen Van A</th:block></h2>

    <ul>
        <li><a href="/">Home page</a></li>
        <li sec:authorize="hasRole('USER')"><a href="/user">User page</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a href="/admin">Admin page</a></li>
    </ul>
</th:block>
</body>
</html>